<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fox Club Homepage</title>
</head>
<body>
    <ul>
        <li><a href="~">Information</a></li>
    </ul>
    <div>
        <img src="~assets/greenfox.png" alt="Green Fox" />
    </div>
    <p>This is Mr. Fox. Currently living on a pizza and lemonade. He knows 2 tricks.</p>
    <h2>Known tricks</h2>
    <ul>
        <li>write HTML</li>
        <li>code in Java</li>
    </ul>
</body>
</html>
